<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
  <!--material icon-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
 
</head>
<body>
 
  <!-- Multi step form -->
<section class="multi_step_form">  
 
  <form id="msform"  [formGroup]="forgetForm" (ngSubmit)="onForget()">
    <!-- Tittle -->
    <div class="tittle">
      <h2>Forgot Password</h2>
      <p>In order to use this service, you have to complete this verification process</p>
    </div>
 
    <!-- progressbar -->
    <ul id="progressbar">
      <li [class.active]="true" >Verify Email</li>  
      <li [class.active]="currentStep === 2 || currentStep === 3">Set Password</li>
     
    </ul>
 
    
    <fieldset  *ngIf="currentStep === 2" class="custom-fieldset">
      <h3 class="custom-h3" >Set Your Password</h3>
      <h6 class="custom-h6">Secure your account with a personalized password.</h6>
     
        <form [formGroup]="forgetFormPassword" (ngSubmit)="onForgetPassword()">
            <mat-form-field appearance="outline" class="form-group">
                <mat-label>Email</mat-label>
                <mat-icon matSuffix>email</mat-icon>
                <input matInput formControlName="email" class="input-field" />
            </mat-form-field>
            
        <!-- Password -->
       
            <mat-form-field appearance="outline" class="form-group">
                <mat-label for="password">Password</mat-label>
                <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" class="input-field" id="password"/>
                <mat-icon matSuffix (click)="togglePasswordVisibility('password')">{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field><br>
       
       
        <!-- Confirm Password -->
       
            <mat-form-field appearance="outline" class="form-group">
                <mat-label for="confirmPassword">Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" class="input-field" id="confirmPassword"/>
                <mat-icon matSuffix (click)="togglePasswordVisibility('confirmPassword')">{{ hideConfirmPassword ? 'visibility_off':'visibility' }}</mat-icon>
            </mat-form-field>
       
      <ul class="file_added">
        <p>Password must be at least</p>
        <li> one digit</li>
        <li> one lowercase letter</li>
        <li> one uppercase letter</li>
        <li> 8-16 characters</li>
      </ul>
      <button type="submit" [routerLink]="['/signin-signup']" class="btn"><mat-icon class="exit-icon">exit_to_app</mat-icon> Change Password</button>
 
        </form>
      <!-- <button type="button" class="btn action-button previous previous_button" (click)="goToPreviousStep()">Back</button>
      <button type="button" class="btn next action-button" (click)="goToNextStep()">Continue</button>   -->
    </fieldset>  
 
  </form>
 
</section>
<!-- End Multi step form -->  
 
</body>
</html>
 