@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
 
 
*{
  margin: 0;
  padding: 0;
}
 
 
.multi_step_form {
 
    display: block;
    overflow: hidden;
    font-family: 'El Messiri', sans-serif;
  }
 
  #msform {
    text-align: center;
    position: relative;
    padding-top: 40px;
    min-height: 820px;
    max-width: 810px;
    margin: 0 auto;  
    z-index: 1;
  }
 
  .custom-fieldset{
    margin: 5px;
    width: 70%;
    background-color: transparent;
    font-family: 'El Messiri', sans-serif;
  }
 
  #msform .tittle {
    text-align: center;
    padding-bottom: 35px;
   
  }
 
  #msform fieldset {
    border: 0;
   
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
 
  }
 
   #msform .tittle h2 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #3f4553;
    padding-bottom: 5px;
  }
 
#msform .tittle p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #5f6771;
 }
 
  .btn {
    width: 220px;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: -1px;
    left: 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color:  #24788F;
  }
 
  .btn:hover {
    background-color:  #24788F;
  }
 
  .custom-fieldset .custom-h3 {
    font-size: 24px;
    line-height: 32px;
    color: #3f4553;
    font-family: 'El Messiri', sans-serif;
  }
 
  .custom-fieldset .custom-h6 {
    font-size: 18px;
    line-height: 24px;
    color: #5f6771;
   
    font-family: 'El Messiri', sans-serif;
  }
 
  #msform fieldset .done_text {
    padding-top: 10px;
   
  }
 
  #msform fieldset .done_text .don_icon {
    height: 36px;
    width: 36px;
    line-height: 16px;
    font-size: 22px;
    margin-bottom: 10px;
    background: #24788F;
    display: inline-block;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
   
  }
 
 
  .done-icon{
    display: flex;
    position: relative;
    text-align: center;
    margin: 5px;
  }
 
  .exit-icon{
    position: relative;
    text-align: center;
    top: 5px;
  }
 
  #msform fieldset .done_text h6 {
    line-height: 23px;
  }
 
 
  #msform #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    margin-left: 23%;
  }
 
  #msform #progressbar ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }
 
  #msform #progressbar li {
    list-style-type: none;
    color: #99a2a8;
    font-size: 9px;
    width: calc(100% / 3);
    float: left;
    position: relative;
    padding-bottom:7px;
    font-size: 13px;
    line-height: 1px;
    font-weight: 500;
  }
 
 
 
  #msform #progressbar li:nth-child(2):before {
    content: "\f0e0";
  }
 
  #msform #progressbar li:nth-child(3):before {
    content: "\f897";
  }
 
  #msform #progressbar li:before {
    content: "\f0e0";
    font-family: 'Material Icons';
    font: normal normal normal 30px/50px Ionicons;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #eaf0f4;
    border-radius: 50%;
    margin: 0 auto 10px auto;
   
  }
 
  #msform #progressbar li:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #eaf0f4;
    position: absolute;
    left: -50%;
    top: 21px;
    z-index: -1;
  }
 
  #msform #progressbar li:last-child:after {
    width: 150%;
  }
 
  #msform #progressbar li.active {
   
    color: #24788F;
  }
 
  #msform #progressbar li.active:before,
  #msform #progressbar li.active:after{
    background: #24788F;
    color: white;
  }
 
  #msform .action-button {
    background: #24788F;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 130px;
    font: 700 14px/40px;
    border: 1px solid #24788F;
    margin: 0 5px;
   
  }
 
  #msform .action-button:hover,
  #msform .action-button:focus {
    background: #405867;
    border-color: #405867;
  }
 
  #msform .previous_button {
    background: transparent;
    color: #99a2a8;
    border-color: #99a2a8;
  }
 
  #msform .previous_button:hover,
  #msform .previous_button:focus {
    background: #405867;
    border-color: #405867;
    color: #fff;
  }
 
  .file_added {
    text-align: justify;
    margin-left: 35%;
    font-size: 16px;
    font-family: 'El Messiri', sans-serif;
    padding-bottom: 15px;
  }
 
  .file_added li{
    text-align: justify;
    margin-left: 12%;
  }
