
<div class="scroller" data-speed="fast">
  <ul class="tag-list scroller__inner">
    <li><img class="img" src="..\assets\img\image7.png" alt="" /> Nissan</li>
    <li><img class="img" src="..\assets\img\image8.png" alt="" /> Kiger</li>
    <li><img class="img" src="..\assets\img\image9.png" alt="" /> Kwid</li>
    <li><img class="img" src="..\assets\img\image10.png" alt="" /> Sunny</li>
    <li><img class="img" src="..\assets\img\image11.png" alt="" /> Juke</li>
    <li><img class="img" src="..\assets\img\image12.png" alt="" /> Versa</li>
    <li><img class="img" src="..\assets\img\image13.png" alt="" /> Kicks</li>
  </ul>
</div>