body {
  font-family: "El Messiri", Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.container{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
 
.img-container img{
    width: 100%;
    margin-left: 0%;    
    margin-top: -100%;
    position: relative;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-style: italic;
  /* background-image: url("pay.png"); */
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  color: white;
  margin: 0%;
  padding: 50px;
}
 
#selectedFileName {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn{
     display: flex;
     align-items: center;
     position: relative;
     justify-content: center;
     flex-direction: column;
     margin-top: -30%;
}
 
.choose-file,
.upload-files,
.pay-b {
  display: flex;
  align-items: center;
  padding-top: 20px;
  width: 150px;
  margin: 0% auto;
  border: none;
  background: #34989a;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
 
.choose-file:hover,
.upload-files:hover,
.pay-b:hover {
  background: #236567;
}
 
#dynamicIframe {
  border: 1px solid #ddd;
  width: 100%;
  height: 400px;
}
 
#error-message {
  color: #c80e0e;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
 
/* Additional styles for responsive design */
@media (max-width: 768px) {
  .choose-file,
  .upload-files,
  .pay-b {
    width: 100%;
    margin: 10px 0;
  }
}